@import '../../variables.scss';

.Navigation {
  padding: 1rem;
  background-color: $background;
  display: none;
  box-sizing: border-box;

  &.showMenu {
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: 770px) {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 15rem;
  }

  .Link {
    line-height: 1rem;
    margin-bottom: 1rem;
    
    &.selected {
      color: $primary;
    }
  }

  .Link:last-of-type {
    margin-bottom: 0;
  }

  .Link:hover {
    color: $primary;
  }
}
