@import "../../css-variables/variables.scss";

.BasicSlider {
  box-sizing: border-box;
  width: 98%;
  height: 100%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 3px $secondary solid;

  h4 {
    margin: 0 0 0.5rem;
  }

  .slider {
    box-sizing: content-box;

    .slick-track {
      display: flex;

      .slick-slide {
        height: auto;

        * {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
