@import "../../variables.scss";

.Header {
  box-sizing: border-box;
  background-color: $secondary;
  color: $text;
  padding: 1rem;
  height: $header-height;

  .menu-button {
    margin-right: 1rem;
    width: min-content;
    display: inline-block;

    > div {
      background-color: white;
      padding: 0.5rem;
      border-radius: 0.2rem;
      line-height: 1rem;

      &.menu-open {
        background-color: $text;
        color: white;
      }
    }
  }

  .Link {
    line-height: 2rem;

    &.selected {
      color: $primary;
    }
  }
}
