@import "../../variables.scss";

.MobileHeader {
  box-sizing: border-box;
  background-color: $secondary;
  color: $text;
  padding: 1rem;
  height: $header-height;

  .menu-button {
    margin-right: 1rem;
  }

  .Link {
    line-height: 2rem;

    &.selected {
      color: $primary;
    }
  }
}
